<div id="move">
    <h2 class="sign">Login Form</h2>
    <div class="pizza">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <form class="login">
                        <div class="form-group">
                            <label for="exampleInputusername1">Username</label>
                            <input type="username" class="form-control" id="username-input" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                    <br />
                    <p id="log">Or sign up
                        <a id="here" href="/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>