{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header center">
        

        </div>
        <div class="text-center">
            <h1 class="text-center" id="title">
                Book-MarkY!
            </h1>
        </div>
    </div>
</nav> --}}

<nav id="Jumbo" class="navbar navbar-default">
    <div class="container-fluid">
        <h1 id="title">Book-MarkY!</h1>
        <div>

        </div>
    </div>
</nav>

<div id="move">
    <h2 class="sign mx-auto">Sign Up Form</h2>
    <div class="col-auto">
        <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 protecter-bg text-center mx-auto pizza">
                    <form class="signup col-auto text-center">
                        <div class="col text-center mt-3">
                            <input type="username" class="m-2 p-2 rounded" id="username-input" placeholder="username">
                        </div>
                        <div class="text-center col mt-3">
                          
                            <input type="password" class="m-2 p-2 rounded" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span class="msg"></span>
                        </div>
                        <button id="signup"type="submit" class="btn btn-default mt-2">Sign Up</button>
                    </form>
                    <br />
                    <p id="log">Or log in
                        <a id="here" href="/login">here</a>
                    </p>
                </div>
            </div>
            <div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>