.list-group-item {
  line-height: 2.5;
}

.protecter-bg {
  background: rgba(245, 245, 245, 0.658) !important;
}

form.signup,
form.login {
  margin-top: 50px;
}

.center {
  text-align: center;
}

#top-right {
  text-align: right;
}